<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/hyde_mod.css">

  <style>
    .fa {
      padding: 10px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      display: inline-block;
    }

    .category {
      color: white;
    }
  </style>

  <script>
    // Toggle subcategories
    document.addEventListener("DOMContentLoaded", () => {
      const categories = document.querySelectorAll(".category");
      categories.forEach((category) => {
        category.addEventListener("click", () => {
          const subcategories = category.nextElementSibling;
          if (subcategories.style.display === "none" || !subcategories.style.display) {
            subcategories.style.display = "block";
          } else {
            subcategories.style.display = "none";
          }
        });
      });
    });
  </script>
</head>

<body>
  <div class="sidebar">
    <h2>Cursos experimentales de física</h2>

    <center>
      <p>Física elemental, Astrofísica y física computacional</p>
      <a
        href="https://www.instagram.com/nicomediap/"
        target="_blank"
        class="fa fa-instagram"
      ></a>
      <a
        href="https://www.youtube.com/channel/UC27Vv11KAnccwb0UVy7aXtQ?view_as=subscriber"
        target="_blank"
        class="fa fa-youtube"
      ></a>
    </center>

    <ul>
      <li>
        <div class="category">Física elemental</div>
        <ul class="subcategory">
          <li><a href="https://nicomedinap.github.io/Cursos//2025/01/31/EcuacionItinerario.html">Ecuación itinerario</a></li>
          <li><a href="https://nicomedinap.github.io/Cursos/2025/02/17/Aerodinamica1.html">Aerodinamica</a></li>
          <li><a href="https://nicomedinap.github.io/Cursos/2025/02/28/PenduloSimple.html">Pendulo simple</a></li>
          <li><a href="notebook1.html">Ondas de péndulo</a></li>
          <li><a href="https://nicomedinap.github.io/Cursos/2024/02/02/VisualizarCampoElectrico.html">Electromagnetismo</a></li>
          <li><a href="notebook2.html">Electrodinámica</a></li>
        </ul>
      </li>
      <li>
        <div class="category">Astrofísica</div>
        <ul class="subcategory">
          <li><a href="https://nicomedinap.github.io/Cursos//2024/08/21/Phase_folding.html">Estrellas periodicas</a></li>
          <li><a href="notebook5.html">Pulsación estelar</a></li>
          <li><a href="notebook5.html">Problema de los tres cuerpos</a></li>
          <li><a href="notebook6.html">Lentes gravitatorias</a></li>
        </ul>
      </li>
        <li>
        <div class="category">Herramientas matemáticas</div>
        <ul class="subcategory">
          <li><a href="notebook3.html">Probabilidad</a></li>
          <li><a href="notebook3.html">Cálculo</a></li>
          <li><a href="notebook4.html">Lógica booleana</a></li>
          <li><a href="notebook4.html">Guía de laboratorio</a></li>
          <li><a href="notebook4.html">Inteligencia artificial</a></li>
        </ul>
      </li>
    </ul>


  </div>
</body>
